.popup{
    height: 90vh;
    width: 90vw;
    background-color: white;
    border: 1px solid chocolate;
    margin: 2em 4em 2em 4em;
}
.popup-header{
    display: flex;
    background-color: chocolate;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid white;
}
.popup-header h2{
    color: white;
}
.popup-header h3{
    color: white;
    cursor: pointer;
}
.maintable{
    border: 1px solid black;
    width: 70vw;
    height: 5vh;
    margin: 2em 4em 2em 10em;
}
.trow td{
    color: white;
    padding-left: 7em;
}