table{
    width: 95%;
    margin: 0 2em 0 2em;
    background-color: chocolate; 
    border: 1px solid chocolate;
    border-radius: 10px; 
}
tr h3{
    text-align: left;
    color: white;
    margin-left: 2em;
}
tr button{
    float: right;
    margin-right: 2em;
    height: 3em;
    cursor: pointer;
    color: white;
    background-color: chocolate;
    border: 1px solid white;
    border-radius: 10px;
}
tr button:hover{
    background-color: white;
    color: black;
}
.grid{
    display: grid;
    height: 80vh;
    grid-template-columns: auto;
    background-color: white;
    border: 1px solid chocolate;
    margin: 0 2em 0 2em;
}