.popup{
    height: 100vh;
    background-color: white;
    border: 1px solid chocolate;
    width: 94vw;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 3em;
}
.backb{
    background-color: chocolate;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 3em;
    width: 5em;
    margin:2em 1em;
    text-align: center;
}
.backb:hover{
    background-color: white;
    color: chocolate;
    border: 1px solid black;
    cursor: pointer;
}
.popup-header{
    display: flex;
    background-color: chocolate;
    padding: 0 30px 0 15px;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: space-between;
    /* border-bottom: 2px solid white; */
}
.popup-header h2{
    margin: 1em 0 0 1em;
    color: white;
}
.maintable{
    width: 70vw;
    height: 5vh;
    margin: 2em 4em 2em 13em;
    border: 1px solid black;
}
tbody tr{
    height: 2.5em;
    border-bottom: 1px solid black;
}
.iconn{
    cursor: pointer;
    color: darkgray;
}
.bicon{
    color: darkgray;
    cursor:pointer ;
}

@media screen and (max-width:1200px) {
    .maintable{
        margin: 2em 4em 2em 10em;
    }
}