.video-popup{
    height: 100vh;
    background-color: white;
    width: 94vw;
    border-radius: 10px;
    
}
.video-popup-header{
    display: flex;
    background-color: chocolate;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border: 1px solid white;
    border-radius: 10px;
}
.video-popup-header h2{
    color: white;
}
.video-popup-header h3{
    color: white;
    cursor: pointer;
}

/*  */