.header{
    background-color: chocolate;
    width: 95%;
    height: 9vh;
    margin: 1em 0 2em 3em;
    justify-content: space-between;
    display:flex;
    border: 1px solid chocolate;
    border-radius: 10px;
}
.header h2{
    color: white;
    margin:1em;
}
.header button{
    margin: 1.5em;
}